* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: grey;
}

header {
    display: flex;
    align-items: center;
    /* flex-direction: row; */
    position: fixed;
    top: 0px;
    height: 64px;
    background-color: rgba(135, 206, 250, 0.5);
    width: 100%;
    color: grey;
    z-index: 1;
}

.spacer {
    flex-grow: 1;
}

#personalImg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.hamburger {
    font-size: 1.4em;
    color: black;
    padding: 5px 8px;
    display: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    /* flex-direction: row; */
}

nav ul li a {
    display: block;
    color: grey;
    width: 100px;
    text-decoration: none;
    font-size: 1rem;
    line-height: 2;
    text-align: center;
}

#main {
    padding: 16px;
    text-align: center;
    margin-top: 64px;
    line-height: 1.5;
    background-image: url("images/wave.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
}

#main h2 {
    color: lightskyblue;
    font-size: 3em;
    /*  line-height: 2; */
}

#main p {
    color: lightskyblue;
    font-size: 1.5em;
    line-height: 1.5;
}

#about {
    text-align: center;
    line-height: 1.5;
    padding: 16px;
}

#about>div {
    display: flex;
    text-align: left;
    align-items: center;
}

#aboutImage {
    padding: 20px;
}

#aboutImage img {
    border-radius: 50%;
    display: block;
    width: 200px;
    height: 200px;
}

#about a {
    display: block;
    width: 150px;
    padding: 10px 15px;
    background-color: rgba(173, 216, 230, 0.5);
    color: black;
    text-decoration: none;
    margin: 15px auto;
    text-align: center;
    border-radius: 15px;
}

@media (max-width:600px) {
    .hamburger {
        display: block;
        /* border-bottom: 1px solid #fff; */
        width: 40px;
    }

    nav ul {
        display: none;
        background-color: white;
        /* flex-direction: column; */
        position: absolute;
        right: 0;
        top: 100%;
    }

    /*  nav .hamburger:hover+ul */
    nav .hamburger:hover+ul {
        display: flex;
    }

    #about>div {
        /*  flex-direction: column; */
        text-align: center;

    }

    .breakMobile {
        flex-direction: column;
    }
}